# Project3: Validation of S3 Silver Layer

In [1]:
import pandas as pd
import glob

## dim_date

In [2]:
# List all Parquet files in folder
files = glob.glob("../data/s3/dim_date/*.parquet")
display(files)

# Read and concatenate them
df_dim_date = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files], ignore_index=True)
display(df_dim_date.sort_values(['date_key']).head().reset_index(drop=True))
df_dim_date.info()

['../data/s3/dim_date\\part-00000-984513d3-ff45-482c-af5c-a3b1bdbc2826-c000.snappy.parquet',
 '../data/s3/dim_date\\part-00001-984513d3-ff45-482c-af5c-a3b1bdbc2826-c000.snappy.parquet',
 '../data/s3/dim_date\\part-00002-984513d3-ff45-482c-af5c-a3b1bdbc2826-c000.snappy.parquet',
 '../data/s3/dim_date\\part-00003-984513d3-ff45-482c-af5c-a3b1bdbc2826-c000.snappy.parquet']

,date_key,year,month,week,day_of_week,is_weekend,is_holiday,holiday_name
0,2023-01-01,2023,1,52,Sunday,True,True,New Year's Day
1,2023-01-02,2023,1,1,Monday,False,True,New Year's Day Observed
2,2023-01-03,2023,1,1,Tuesday,False,False,None
3,2023-01-04,2023,1,1,Wednesday,False,False,None
4,2023-01-05,2023,1,1,Thursday,False,False,None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date_key      365 non-null    datetime64[ns]
 1   year          365 non-null    int16
 2   month         365 non-null    int32
 3   week          365 non-null    int32
 4   day_of_week   365 non-null    object
 5   is_weekend    365 non-null    bool
 6   is_holiday    365 non-null    bool
 7   holiday_name  12 non-null     object
dtypes: bool(2), datetime64[ns](1), int16(1), int32(2), object(2)
memory usage: 13.0+ KB

## fact_orders

In [3]:
# List all Parquet files in folder
files = glob.glob("../data/s3/fact_orders/*.parquet")
display(files)

# Read and concatenate them
df_fact_orders = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files], ignore_index=True)
display(df_fact_orders.head())
df_fact_orders.info()

['../data/s3/fact_orders\\part-00000-e81ef87f-b264-4137-81ac-b8d5e51fbf98-c000.snappy.parquet',
 '../data/s3/fact_orders\\part-00001-e81ef87f-b264-4137-81ac-b8d5e51fbf98-c000.snappy.parquet',
 '../data/s3/fact_orders\\part-00002-e81ef87f-b264-4137-81ac-b8d5e51fbf98-c000.snappy.parquet',
 '../data/s3/fact_orders\\part-00003-e81ef87f-b264-4137-81ac-b8d5e51fbf98-c000.snappy.parquet']

,app_name,restaurant_id,order_id,user_id,printed_card_number,is_loyalty,currency,lineitem_id,item_category,item_name,item_price,item_quantity,creation_ts_utc,creation_date,creation_time
0,Alltown Fresh,5e7e36f4505ee9fc797b23ed,5e9f42aa4f5ee95e12c276b0,5de52888adb0d563417b23c8,NaN,False,USD,5e9f42b0902ad517529516f0,Burgers & Sandwiches,Club Sandwich,7.25,1,2020-04-21 18:59:54.028,2020-04-21,18:59:54
1,Alltown Fresh,5e7e36f4505ee9fc797b23ed,5eac88a8535ee9f6661f5d43,5eac88d6902ad598127b240b,NaN,False,USD,5eac88b2535ee94a681f5d23,Burgers & Sandwiches,Cheese Burger,8.95,1,2020-05-01 20:38:00.838,2020-05-01,20:38:00
2,Alltown Fresh,5e7e36f4505ee9fc797b23ed,5eac883d505ee99e437b2414,5eab1a0c4f5ee9d77b7b23f3,NaN,False,USD,5eac8d51902ad5ac207b23fa,Pizza,Cheese Pizza,4.99,1,2020-05-01 20:36:13.445,2020-05-01,20:36:13
3,Alltown Fresh,5e7e36f4505ee9fc797b23ed,5eb046fb902ad54903c80673,5eac88d6902ad598127b240b,NaN,False,USD,5eb04706505ee9a16d4837e7,Burgers & Sandwiches,Cheese Burger,26.85,3,2020-05-04 16:46:51.599,2020-05-04,16:46:51
4,Alltown Fresh,5e7e36f4505ee9fc797b23ed,5eb046fb902ad54903c80673,5eac88d6902ad598127b240b,NaN,False,USD,5eb0470a902ad58901c80673,Burgers & Sandwiches,Club Sandwich,21.75,3,2020-05-04 16:46:51.599,2020-05-04,16:46:51

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203518 entries, 0 to 203517
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   app_name             203518 non-null  object
 1   restaurant_id        203518 non-null  object
 2   order_id             203518 non-null  object
 3   user_id              185710 non-null  object
 4   printed_card_number  46084 non-null   float64
 5   is_loyalty           203518 non-null  bool
 6   currency             203518 non-null  object
 7   lineitem_id          203518 non-null  object
 8   item_category        203518 non-null  object
 9   item_name            203518 non-null  object
 10  item_price           203518 non-null  float64
 11  item_quantity        203518 non-null  int32
 12  creation_ts_utc      203331 non-null  datetime64[ns]
 13  creation_date        203331 non-null  datetime64[ns]
 14  creation_time        203331 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(2), int32(1), object(9)
memory usage: 21.2+ MB

In [4]:
### Check how many rows contain 'T'
# t_count = df_fact_orders['creation_time_utc'].str.contains('T').sum()
# total_rows = len(df_fact_orders)
# print(f"Rows containing 'T': {t_count} / {total_rows}")   # Rows containing 'T': 203518 / 203518

### Check how many rows contain 'Z'
# z_count = df_fact_orders['creation_time_utc'].str.contains('Z').sum()
# print(f"Rows containing 'Z': {z_count} / {total_rows}")    # Rows containing 'Z': 203518 / 203518

### Optional: check if there are any rows without 'T' or 'Z'
# missing_t = total_rows - t_count
# missing_z = total_rows - z_count
# print(f"Rows missing 'T': {missing_t}")   # Rows missing 'T': 0
# print(f"Rows missing 'Z': {missing_z}")   # Rows missing 'Z': 0

## fact_options

In [5]:
# List all Parquet files in folder
files = glob.glob("../data/s3/fact_options/*.parquet")
display(files)

# Read and concatenate them
df_fact_options = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files], ignore_index=True)
display(df_fact_options.head())
df_fact_options.info()

['../data/s3/fact_options\\part-00000-5ea81a6c-c7c1-4c0e-b5e5-65dc97060cd6-c000.snappy.parquet',
 '../data/s3/fact_options\\part-00001-5ea81a6c-c7c1-4c0e-b5e5-65dc97060cd6-c000.snappy.parquet',
 '../data/s3/fact_options\\part-00002-5ea81a6c-c7c1-4c0e-b5e5-65dc97060cd6-c000.snappy.parquet',
 '../data/s3/fact_options\\part-00003-5ea81a6c-c7c1-4c0e-b5e5-65dc97060cd6-c000.snappy.parquet']

,order_id,lineitem_id,option_group_name,option_name,option_price,option_quantity
0,5eb046fb902ad54903c80673,5eb04712902ad58e02c80655,Condiments,Ketchup,0.0,1
1,5eb44bd1902ad51e3a7b23ce,5eb44bf9adb0d5e5067b23d9,Vegetables,Enoki Mushrooms,0.0,1
2,5eb44bd1902ad51e3a7b23ce,5eb44c0badb0d523097b23d1,Drink Options,Espresso,0.0,1
3,5eb44bd1902ad51e3a7b23ce,5eb44c0badb0d523097b23d1,Milk Options,Skim Milk,0.0,1
4,5eb44bd1902ad51e3a7b23ce,5eb44c0badb0d523097b23d1,Syrup,Chocolate,0.6,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190718 entries, 0 to 190717
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   order_id           190718 non-null  object
 1   lineitem_id        190718 non-null  object
 2   option_group_name  190718 non-null  object
 3   option_name        190718 non-null  object
 4   option_price       190718 non-null  float64
 5   option_quantity    190718 non-null  int32
dtypes: float64(1), int32(1), object(4)
memory usage: 8.0+ MB