# Project3: Validation of S3 Bronze Layer

In [1]:
import pandas as pd
import glob

## date_dim

In [2]:
# List all Parquet files in folder
files = glob.glob("../data/s3/date_dim/*.parquet")
display(files)

# Read and concatenate them
df_date_dim = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files], ignore_index=True)
display(df_date_dim.head())
df_date_dim.info()

['../data/s3/date_dim\\part-00000-a0f253ab-a42c-4dc5-8493-389b8da83d1f-c000.snappy.parquet']

,date_key,year,month,week,day_of_week,is_weekend,is_holiday,holiday_name
0,2023-01-01,2023,1,52,Sunday,True,True,New Year's Day
1,2023-01-02,2023,1,1,Monday,False,True,New Year's Day Observed
2,2023-01-03,2023,1,1,Tuesday,False,False,None
3,2023-01-04,2023,1,1,Wednesday,False,False,None
4,2023-01-05,2023,1,1,Thursday,False,False,None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date_key      365 non-null    datetime64[ns]
 1   year          365 non-null    int16
 2   month         365 non-null    int32
 3   week          365 non-null    int32
 4   day_of_week   365 non-null    object
 5   is_weekend    365 non-null    bool
 6   is_holiday    365 non-null    bool
 7   holiday_name  12 non-null     object
dtypes: bool(2), datetime64[ns](1), int16(1), int32(2), object(2)
memory usage: 13.0+ KB

## order_items

In [3]:
# List all Parquet files in folder
files = glob.glob("../data/s3/order_items/*.parquet")
display(files)

# Read and concatenate them
df_order_items = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files], ignore_index=True)
display(df_order_items.head())
df_order_items.info()

['../data/s3/order_items\\part-00000-2c2af4a7-f9fa-4f14-9e53-3daa1b2dbf40-c000.snappy.parquet']

,APP_NAME,RESTAURANT_ID,CREATION_TIME_UTC,ORDER_ID,USER_ID,PRINTED_CARD_NUMBER,IS_LOYALTY,CURRENCY,LINEITEM_ID,ITEM_CATEGORY,ITEM_NAME,ITEM_PRICE,ITEM_QUANTITY
0,Alltown Fresh,63bc98a7519adc105105a990,2023-03-08T11:03:32.223Z,64086b8463905bf310002079,63ee144950286a8367041911,NaN,False,USD,64086b84d5fbd8718a0717e6,Breakfast,Bacon Egg & Cheese*,5.99,1
1,Alltown Fresh,5f6a6c1537ab46bd38e9df75,2023-05-13T12:45:00.475Z,645f864c1c4b0312f10cfa75,None,NaN,False,USD,645f869568ab8e534e099ea7,Breakfast,Breakfast Burrito*,7.99,1
2,Alltown Fresh,5fece84aadb0d51509c36f22,2023-02-03T07:15:28.519Z,63dcb490665d80c6be09a618,5ece77fe902ad501337b23fd,NaN,False,USD,63dcb49b665d80c6be09a657,Breakfast,Bacon Egg & Cheese*,5.99,1
3,Alltown Fresh,5f6a6c1537ab46bd38e9df75,2023-08-17T16:18:02.231Z,64de483a7028adc2520d8cf0,None,NaN,False,USD,64de484eb7b035d89d004141,Salads,Greek Salad,11.99,1
4,Alltown Fresh,622107b40ac81503e0369ca6,2023-08-20T16:02:12.518Z,64e23904baef31a741016be9,None,NaN,False,USD,64e2395465826c9b650c1c37,Breakfast,Breakfast Burrito*,5.99,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203519 entries, 0 to 203518
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   APP_NAME             203519 non-null  object
 1   RESTAURANT_ID        203519 non-null  object
 2   CREATION_TIME_UTC    203519 non-null  object
 3   ORDER_ID             203519 non-null  object
 4   USER_ID              185711 non-null  object
 5   PRINTED_CARD_NUMBER  46084 non-null   float64
 6   IS_LOYALTY           203519 non-null  bool
 7   CURRENCY             203519 non-null  object
 8   LINEITEM_ID          203518 non-null  object
 9   ITEM_CATEGORY        203518 non-null  object
 10  ITEM_NAME            203518 non-null  object
 11  ITEM_PRICE           203519 non-null  float64
 12  ITEM_QUANTITY        203519 non-null  int32
dtypes: bool(1), float64(2), int32(1), object(9)
memory usage: 18.1+ MB

## order_item_options

In [4]:
# List all Parquet files in folder
files = glob.glob("../data/s3/order_item_options/*.parquet")
display(files)

# Read and concatenate them
df_order_item_options = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files], ignore_index=True)
display(df_order_item_options.head())
df_order_item_options.info()

['../data/s3/order_item_options\\part-00000-7f6dfd77-e7fb-45f3-83d4-36cdd8acdc9c-c000.snappy.parquet']

,ORDER_ID,LINEITEM_ID,OPTION_GROUP_NAME,OPTION_NAME,OPTION_PRICE,OPTION_QUANTITY
0,6278eb58dfafab1e053fe172,6278eb63dfafab1e053fe18c,Cheese,American Cheese,0.0,1
1,6278eb58dfafab1e053fe172,6278eb63dfafab1e053fe18c,Veggies,Lettuce,0.5,1
2,6278eb58dfafab1e053fe172,6278eb63dfafab1e053fe18c,Veggies,Tomatoes,0.0,1
3,6278eb58dfafab1e053fe172,6278eb63dfafab1e053fe18c,Veggies,Onion,0.0,1
4,6278eb58dfafab1e053fe172,6278eb63dfafab1e053fe18c,Veggies,Green Peppers,0.0,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193017 entries, 0 to 193016
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ORDER_ID           193017 non-null  object
 1   LINEITEM_ID        193017 non-null  object
 2   OPTION_GROUP_NAME  193017 non-null  object
 3   OPTION_NAME        193017 non-null  object
 4   OPTION_PRICE       193017 non-null  float64
 5   OPTION_QUANTITY    193017 non-null  int32
dtypes: float64(1), int32(1), object(4)
memory usage: 8.1+ MB

In [5]:
negative_count = df_order_item_options[df_order_item_options["OPTION_PRICE"] < 0].shape[0]
print(negative_count)

0