# Project3: Validation of S3 Gold Layer

In [1]:
import pandas as pd
import glob

# fact_customer_daily_metrics

In [2]:
# List all Parquet files in folder
files = glob.glob("../data/s3/fact_customer/*.parquet")
display(files)

# Read and concatenate them
df_fact_customer = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files], ignore_index=True)
display(df_fact_customer.sort_values(by=['user_id', 'creation_date']).iloc[70:100,])
df_fact_customer.info()

['../data/s3/fact_customer\\part-00000-0474c511-7a13-48c4-817c-dd7e374fb590-c000.snappy.parquet',
 '../data/s3/fact_customer\\part-00001-0474c511-7a13-48c4-817c-dd7e374fb590-c000.snappy.parquet',
 '../data/s3/fact_customer\\part-00002-0474c511-7a13-48c4-817c-dd7e374fb590-c000.snappy.parquet',
 '../data/s3/fact_customer\\part-00003-0474c511-7a13-48c4-817c-dd7e374fb590-c000.snappy.parquet']

,user_id,creation_date,orders_daily,revenue_daily,loyalty_revenue,loyalty_orders,recency_days,churn_risk_flag,clv_cumulative,frequency_7d,monetary_7d,frequency_30d,monetary_30d,frequency_90d,monetary_90d
13191,5eab1a0c4f5ee9d77b7b23f3,2021-01-18,4,38.000000,0.0,0,3,Low,7554.750017,5.0,248.000000,12.0,598.500000,48.0,5751.390004
15,5eab1a0c4f5ee9d77b7b23f3,2021-01-19,22,320.250000,0.0,0,1,Low,7875.000017,5.0,526.250000,13.0,918.750000,48.0,6060.640004
16,5eab1a0c4f5ee9d77b7b23f3,2021-01-21,2,15.500000,0.0,0,2,Low,7890.500017,4.0,384.750000,12.0,798.250000,47.0,5964.350004
17,5eab1a0c4f5ee9d77b7b23f3,2021-01-25,4,36.500000,0.0,0,4,Low,7927.000017,3.0,372.250000,12.0,782.250000,46.0,5828.510004
6582,5eab1a0c4f5ee9d77b7b23f3,2021-01-26,10,81.000000,0.0,0,1,Low,8008.000017,3.0,133.000000,13.0,863.250000,46.0,5846.510004
18,5eab1a0c4f5ee9d77b7b23f3,2021-01-27,6,47.500000,0.0,0,1,Low,8055.500017,4.0,180.500000,13.0,887.250000,46.0,5815.630004
6583,5eab1a0c4f5ee9d77b7b23f3,2021-01-28,1,72.000000,0.0,0,1,Low,8127.500017,4.0,237.000000,14.0,959.250000,46.0,5744.630004
13192,5eab1a0c4f5ee9d77b7b23f3,2021-02-01,1,9.000000,0.0,0,4,Low,8136.500017,4.0,209.500000,14.0,948.250000,44.0,5155.050004
6584,5eab1a0c4f5ee9d77b7b23f3,2021-02-03,2,22.000000,0.0,0,2,Low,8158.500017,3.0,103.000000,14.0,919.250000,43.0,4946.050004
6585,5eab1a0c4f5ee9d77b7b23f3,2021-02-08,1,4.500000,0.0,0,5,Low,8163.000017,2.0,26.500000,14.0,856.250000,41.0,4294.630004
19698,5eab1a0c4f5ee9d77b7b23f3,2021-02-10,2,9.000000,0.0,0,2,Low,8172.000017,2.0,13.500000,15.0,865.250000,41.0,4193.630004
19,5eab1a0c4f5ee9d77b7b23f3,2021-02-11,1,0.000000,0.0,0,1,Low,8172.000017,3.0,13.500000,15.0,823.250000,41.0,4047.250004
20,5eab1a0c4f5ee9d77b7b23f3,2021-02-23,1,11.000000,0.0,0,12,Low,8183.000017,1.0,11.000000,10.0,292.500000,35.0,3342.630003
19699,5eab1a0c4f5ee9d77b7b23f3,2021-02-24,2,16.500000,0.0,0,1,Low,8199.500017,2.0,27.500000,10.0,272.500000,36.0,3359.130003
13193,5eab1a0c4f5ee9d77b7b23f3,2021-02-25,2,14.500000,0.0,0,1,Low,8214.000017,3.0,42.000000,10.0,206.000000,36.0,3325.850003
21,5eab1a0c4f5ee9d77b7b23f3,2021-02-26,5,174.500000,0.0,0,1,Low,8388.500017,4.0,216.500000,10.0,333.000000,37.0,3500.350003
13194,5eab1a0c4f5ee9d77b7b23f3,2021-03-30,2,9.780000,0.0,0,32,Medium,8398.280017,1.0,9.780000,1.0,9.780000,23.0,1210.030000
22,5eab1a0c4f5ee9d77b7b23f3,2021-04-29,1,11.980000,0.0,0,30,Medium,8410.260016,1.0,11.980000,1.0,11.980000,11.0,282.759999
19700,5eab1a0c4f5ee9d77b7b23f3,2021-09-28,1,9.890000,0.0,0,152,High,8420.150017,1.0,9.890000,1.0,9.890000,1.0,9.890000
6586,5eab1a0c4f5ee9d77b7b23f3,2021-10-13,1,19.780001,0.0,0,15,Low,8439.930017,1.0,19.780001,2.0,29.670001,2.0,29.670001
13195,5eab1a0c4f5ee9d77b7b23f3,2021-10-19,6,75.789999,0.0,0,6,Low,8515.720016,2.0,95.570000,3.0,105.460000,3.0,105.460000
6587,5eab1a0c4f5ee9d77b7b23f3,2022-05-06,1,3.990000,0.0,0,199,High,8519.710016,1.0,3.990000,1.0,3.990000,1.0,3.990000
6588,5eab1a0c4f5ee9d77b7b23f3,2022-06-08,1,13.780000,0.0,0,33,Medium,8533.490016,1.0,13.780000,1.0,13.780000,2.0,17.770000
0,5eab1a0c4f5ee9d77b7b23f3,NaT,2,11.000000,0.0,0,0,Low,11.000000,NaN,NaN,NaN,NaN,NaN,NaN
13196,5eac88d6902ad598127b240b,2020-05-01,1,8.950000,0.0,0,0,Low,18.950000,1.0,8.950000,1.0,8.950000,1.0,8.950000
24,5eac88d6902ad598127b240b,2020-05-04,8,375.070004,0.0,0,3,Low,394.020004,2.0,384.020004,2.0,384.020004,2.0,384.020004
13197,5eac88d6902ad598127b240b,2020-05-05,1,27.209999,0.0,0,1,Low,421.230003,3.0,411.230003,3.0,411.230003,3.0,411.230003
13198,5eac88d6902ad598127b240b,2020-05-06,1,40.789999,0.0,0,1,Low,462.020002,4.0,452.020002,4.0,452.020002,4.0,452.020002
13199,5eac88d6902ad598127b240b,2020-05-08,1,8.950000,0.0,0,2,Low,470.970002,4.0,452.020002,5.0,460.970002,5.0,460.970002
19701,5eac88d6902ad598127b240b,2020-05-18,3,12.800000,0.0,0,10,Low,483.770002,1.0,12.800000,6.0,473.770002,6.0,473.770002

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100096 entries, 0 to 100095
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          100096 non-null  object
 1   creation_date    99985 non-null   datetime64[ns]
 2   orders_daily     100096 non-null  int64
 3   revenue_daily    100096 non-null  float64
 4   loyalty_revenue  100096 non-null  float64
 5   loyalty_orders   100096 non-null  int64
 6   recency_days     100096 non-null  int32
 7   churn_risk_flag  100096 non-null  object
 8   clv_cumulative   100096 non-null  float64
 9   frequency_7d     99985 non-null   float64
 10  monetary_7d      99985 non-null   float64
 11  frequency_30d    99985 non-null   float64
 12  monetary_30d     99985 non-null   float64
 13  frequency_90d    99985 non-null   float64
 14  monetary_90d     99985 non-null   float64
dtypes: datetime64[ns](1), float64(9), int32(1), int64(2), object(2)
memory usage: 11.1+ MB

In [3]:
df_fact_customer.groupby('user_id')['clv_cumulative'].max()

user_id
52e01f9031131cc24c000004      15.670000
5de52888adb0d563417b23c8     113.980000
5eab1a0c4f5ee9d77b7b23f3    8533.490016
5eac88d6902ad598127b240b    8754.520058
5eac8924902ad5dd137b23ea       8.950000
                               ...
65d4d993874554503f03f927      17.990000
65d4def3ba78fb60d30e2688      12.990000
65d4e3430033e6a6cd0f8b06      10.990000
65d4f01ae1e3c0aebc0cb9f6       9.990000
65d503d40e82e219f301a36d      10.990000
Name: clv_cumulative, Length: 20174, dtype: float64

# fact_orders_location_performance_daily

In [4]:
# List all Parquet files in folder
files = glob.glob("../data/s3/fact_orders_location/*.parquet")
display(files)

# Read and concatenate them
df_fact_orders_location = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files], ignore_index=True)
display(df_fact_orders_location.head(10))
df_fact_orders_location.info()

['../data/s3/fact_orders_location\\part-00000-3a93546a-e908-4c79-a9fb-7d010edd8409-c000.snappy.parquet',
 '../data/s3/fact_orders_location\\part-00001-3a93546a-e908-4c79-a9fb-7d010edd8409-c000.snappy.parquet',
 '../data/s3/fact_orders_location\\part-00002-3a93546a-e908-4c79-a9fb-7d010edd8409-c000.snappy.parquet',
 '../data/s3/fact_orders_location\\part-00003-3a93546a-e908-4c79-a9fb-7d010edd8409-c000.snappy.parquet']

,creation_date,restaurant_id,total_orders,total_revenue,avg_order_value,loyalty_revenue,loyalty_orders,non_loyalty_revenue,non_loyalty_orders,period_day,period_week,period_month,year,revenue_rank_day,revenue_rank_week,revenue_rank_month
0,2020-12-29,5edff313902ad5580e9c3f30,50,11119.249995,158.846428,0.0,0,11119.249995,70,29,53,12,2020,1,1,1
1,2020-12-29,5e7e35f0902ad5ac017b242d,7,10307.370000,1472.481429,0.0,0,10307.370000,7,29,53,12,2020,2,2,2
2,2020-12-01,5edff313902ad5580e9c3f30,86,7216.749997,72.167500,0.0,0,7216.749997,100,1,49,12,2020,1,1,3
3,2020-12-08,5edff313902ad5580e9c3f30,96,4660.920001,31.072800,0.0,0,4660.920001,150,8,50,12,2020,2,1,4
4,2020-12-07,5edff313902ad5580e9c3f30,109,4660.539991,33.289571,0.0,0,4660.539991,140,7,50,12,2020,2,2,5
5,2020-12-16,5edff313902ad5580e9c3f30,19,3852.719996,160.530000,0.0,0,3852.719996,24,16,51,12,2020,1,1,6
6,2020-12-02,5edff313902ad5580e9c3f30,47,3652.390003,74.538571,0.0,0,3652.390003,49,2,49,12,2020,4,2,7
7,2020-12-06,5edff313902ad5580e9c3f30,68,3301.449993,45.225342,0.0,0,3301.449993,73,6,49,12,2020,2,3,8
8,2020-12-10,5edff313902ad5580e9c3f30,63,3077.170002,19.475760,0.0,0,3077.170002,158,10,50,12,2020,3,3,9
9,2020-12-11,5edff313902ad5580e9c3f30,42,2679.040001,22.703729,0.0,0,2679.040001,118,11,50,12,2020,2,4,10

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13192 entries, 0 to 13191
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   creation_date        13174 non-null  datetime64[ns]
 1   restaurant_id        13192 non-null  object
 2   total_orders         13192 non-null  int64
 3   total_revenue        13192 non-null  float64
 4   avg_order_value      13192 non-null  float64
 5   loyalty_revenue      13192 non-null  float64
 6   loyalty_orders       13192 non-null  int64
 7   non_loyalty_revenue  13192 non-null  float64
 8   non_loyalty_orders   13192 non-null  int64
 9   period_day           13192 non-null  int32
 10  period_week          13192 non-null  int32
 11  period_month         13192 non-null  int32
 12  year                 13192 non-null  int32
 13  revenue_rank_day     13192 non-null  int32
 14  revenue_rank_week    13192 non-null  int32
 15  revenue_rank_month   13192 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(7), int64(3), object(1)
memory usage: 1.3+ MB